/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

* {
    margin: 1em 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

html,
body,
div,
a,
br {
    margin: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    background-color: #f6f6f6;
}

code,
pre {
    font-family: "Ubuntu Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    margin-bottom: 0.6em;
}

a {
    text-decoration: none;
    color: #0d7dac;
}

#-head, #-body, #-foot {
    margin-bottom: 0;
}

#-head {
    padding: 1em 2em;
    color: #fff9;
    background-color: #2ea859;
}

#-head a {
    color: #fff9;
}

#-body {
    padding: 2em;
    background-color: white;
}

#-foot {
    padding: 2em;
    color: #0006;
}

#-foot a {
    color: #000;
}

#-head-content, #-body-content, #-foot-content {
    max-width: 1080px;
    margin: 0 auto;
}

#-head-content {
    font-family: "Catamaran", sans-serif;
}

#-head-content > * {
    margin: 0 2em 0 0;
}

#-head-content > *:last-child {
    margin: 0;
}

#-foot-content {
    font-size: 0.8em;
}

#-path-navigation {
    margin: 0;
    padding: 0;
    display: inline;
}

#-path-navigation > li {
    display: inline;
}

#-path-navigation > li:after {
    content: " \00a0\003e\00a0\00a0 ";
}

#-path-navigation > li:last-child:after {
    content: none;
}

#-global-navigation {
    display: flex;
    align-items: center;
    padding-top: 0.2em;
}

#-global-navigation > a {
    margin: 0 2em 0 0;
    font-size: 1.1em;
    font-weight: 600;
}

#-global-navigation > a.selected {
    color: white;
}

a#-logotype {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

a#-logotype > span {
    font-weight: 400;
}

#-overview {
    display: grid;
    grid: "o o"
          "b b"
          "b b";
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin: 1em 0 3em 0;
}

#-opener {
    grid-area: o;
    display: flex;
    align-items: center;
}

#-welcome {
    font-size: 1.6em;
    font-weight: 600;
    margin-right: 1.4em;
    line-height: 2em;
}

#-purpose {
    font-size: 1.3em;
}

#-category-opener {
    display: flex;
    align-items: center;
}

#-category-opener > * {
    margin: 0 1em 0 0;
}

#-category-opener > h1 {
    font-size: 1.7em;
}

#-category-opener > p {
    font-size: 1.1em;
}

div.components {
    column-count: 2;
    column-gap: 2em;
    margin-top: 2em;
}

div.component {
    display: flex;
    margin: 0 0 2em 0;
    break-inside: avoid;
}

div.component:last-of-type {
    margin-bottom: 0;
}

a.component-icon {
    width: 3.5em;
    min-width: 3.5em;
    height: 3.5em;
    border: 1px solid #0009;
    border-radius: 1.75em;
    margin: 0 1.2em 0 0;
    display: flex;
    position: relative;
    top: 0.2em;
}

a.component-icon:hover {
    border: 1px solid #0d7dac;
}

a.component-icon > img {
    display: block;
    margin: auto;
}

div.component-text {
    margin: 0;
}

div.component-text > * {
    margin: 0.6em 0;
}

a.component-name {
    color: black;
    font-family: "Catamaran", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 0.6em;
}

a.component-name:hover {
    color: #0d7dac;
}

span.component-tags > span {
    color: #888;
    font-size: 0.65em;
    font-weight: 600;
    padding: 0.2em 0.8em;
    margin-right: 0.4em;
    border-radius: 0.8em;
    border: 1px solid #ddd;
    position: relative;
    top: -0.3em;
}

p.component-links {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
}

p.component-links > a {
    font-weight: 600;
    font-size: 0.9em;
    margin-right: 0.8em;
}

div.category {
    display: flex;
}

a.category-icon {
    margin-right: 2em;
    border: 2px solid #555;
    border-radius: 3em;
    width: 6em;
    height: 6em;
    min-width: 6em;
    position: relative;
    top: 0.2em;
    display: flex;
}

a.category-icon:hover {
    border: 2px solid #0d7dac;
}

a.category-icon > img {
    margin: auto;
}

a.category-name {
    font-family: "Catamaran", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.2em;
    color: black;
}

a.category-name:hover {
    color: #0d7dac;
}

div.resources {
    font-size: 1.2em;
    margin: 2em 0;
}

@media screen and (max-width: 1025px) {
    #-global-navigation {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 769px) {
    body {
        font-size: 0.8em;
    }

    #-global-navigation {
        font-size: 1em;
        display: block;
    }

    #-global-navigation > * {
        display: block;
    }
}

@media screen and (max-width: 426px) {
    body {
        font-size: 1em;
    }

    #-opener {
        display: block;
        margin-bottom: 2em;
    }

    #-welcome {
        margin-bottom: 1em;
    }

    #-overview {
        display: block;
    }

    #-category-opener {
        display: block;
        margin-bottom: 1em;
    }

    #-category-opener > h1 {
        margin-bottom: 0.7em;
    }

    div.components {
        column-count: 1;
    }

    div.category {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 321px) {
    body {
        font-size: 0.9em;
    }
}

@media print {
    body {
        font-size: 10pt;
    }

    pre {
        font-size: 0.9em;
        overflow: hidden;
    }

    #-head, #-foot {
        display: none;
    }

    #-body {
        padding: 0;
    }
}
